# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
venv/
env/
.env

# =====================
# MLflow
# =====================
mlruns/

# =====================
# Model files
# =====================
*.pkl
!models/*.pkl

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Data (opsional tergantung project)
# =====================
# data/processed/
# data/raw/

# =====================
# Logs & cache
# =====================
*.log
.ruff_cache/
.pytest_cache/